@use '/styles';

.imageEditor {
  padding: 2px;
  background-color: styles.$color-background;
  height: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 200px;
  * {
    user-select: none;
  }
}

.sidebar {
  display: grid;
  grid-template-columns: 100%;
  place-content: start;
  gap: 20px;
  background-color: styles.$color-background-darkest;
  border: 1px solid styles.$color-background-darkest;
}
