.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.item {
  width: 20px;
  height: 20px;

  &[data-active='true'] {
    border: 1px solid #bf4f74;
  }
}

.addItem {
  width: 20px;
  height: 20px;
  display: grid;
  place-content: center;
  border: 1px solid white;
}

.dropDownItem {
  display: flex;

  .color {
    width: 20px;
    height: 10px;
  }
}
