@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=VT323&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  font-family: 'VT323', monospace;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}
